
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<body>
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button">Departmanlar</a>
  <a href="#" class="w3-bar-item w3-button">Personallar</a>
  <a href="#" class="w3-bar-item w3-button">Haqqimizda</a>
  <a href="#" class="w3-bar-item w3-button">Cixis</a>
</div>

<div style="margin-left:15%">

<div class="w3-container w3-teal">
  <h1>Asp .Net Core MVC</h1>
</div>
@RenderBody()
</div>
      
</body>
</html>
