@using WebDepartment.Models;
@model List<personel>
@{
    ViewData["Title"] = "DepartmentDetail";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Seher</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.perid</td>
            <td>@item.ad</td>
            <td>@item.soyad</td>
            <td>@item.sehir</td>
        </tr>
    }
</table>

