@model WebDepartment.Models.departman;
@{
    ViewData["Title"] = "GetDepart";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

@using (Html.BeginForm("UpdateDepart", "depart", FormMethod.Post))
{
    @Html.LabelFor(x=>x.Id)
    <br />
    @Html.TextBoxFor(x=>x.Id ,new { @class = "form-controler"})
    <br />
    @Html.LabelFor(x=>x.departmanad)
    <br />
    @Html.TextBoxFor(x=>x.departmanad,new { @class = "form-controler"})
    <br />
    <button class="btn btn-default"style="background-color:brown;color:white;margin-top:20px">Update Department</button>
}
