@model WebDepartment.Models.departman;
@{
    ViewData["Title"] = "NewDepart";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.LabelFor(x=>x.departmanad) 
    <br />
    @Html.TextBoxFor(x=>x.departmanad,new { @class = "form-controler"})
    <br />
    <button class="btn btn-default" style="background-color:brown;color:white;margin-top:10px">Add Department</button>
</form>
